<% include ../partials/header %>
<section>
<h1>Edit Card</h1>
<form class="table" action='/storms/<%= stormid %>/<%=card._id%>/edit' method='POST'>
    <input type='text' name='title' value="<%=card.title%>" autofocus></input>
    <input type='text' name='url' value="<%=card.url%>"></input>
    <input type="text" name="desc" value="<%=card.desc%>"></input>
    <button class="btn" type='submit'>Update</button>
</form>    
</section>


<% include ../partials/footer %>