<% include ../partials/header %>
<header>
    <nav>
        <ul>
            <li><a href="/storms/<%=storm._id%>/add/card">Add Card</a></li>
            <li><a href="/storms/<%=storm._id%>/add/cones">Add KML File</a></li>
        </ul>
    </nav>    
</header>
<section>
    <h1><%= storm.name %> <%= storm.category %> <a href="/storms/edit/<%=storm._id%>">Edit</a> <a href="/storms/<%=storm._id%>/delete" onClick="return confirm('Are you absolutely sure you want to delete the storm?')">Delete</a></h1>
    <form action='/storms/<%=storm._id%>/active' method='POST'>
        <label>Active storm: </label>
        <select name="isActive">
            <% if(storm.isActive){ %>
            <option value="true" selected>True</option>
            <option value="false">False</option>
            <% } else { %>
            <option value="true">True</option>
            <option value="false" selected>False</option>
            <% } %>
        </select>
        <button class="btn updateBtn" value="submit">Submit</button>
    </form>
    <table>
    	<tr>
    	    <th>Edit</th>
    		<th>Title</th>
    		<th>URL</th>
    		<th>Description</th>
    		<th>Active</th>
    		<th>Delete</th>
    	</tr>
    	<% storm.cards.forEach( function( card ){ %>
    		<tr>
    		    <td><a class="btn updateBtn" href="/storms/<%=storm._id%>/<%=card._id%>/edit">Edit</a></td>
    			<td><%= card.title %></td>
    			<td><%= card.url %></td>
    			<td><%= card.desc %></td>
    			<td>
    			    <form action='/storms/<%=storm._id%>/<%=card._id%>/active' method='POST'>
        			    <select name="isActive">
                            <% if(card.isActive){ %>
                            <option value="true" selected>True</option>
                            <option value="false">False</option>
                            <% } else { %>
                            <option value="true">True</option>
                            <option value="false" selected>False</option>
                            <% } %>
                        </select>
                        <button class="btn updateBtn" value="submit">Submit</button>
    			    </form>
    			</td>
    			<td><a class="btn deleteBtn" href="/storms/<%=storm._id%>/<%=card._id%>/delete" onClick="return confirm('Are you absolutely sure you want to remove the card?')">Delete</a></td>
    		</tr>
    	<% }); %>
    </table>
</section>
<% if( storm.json.type == "FeatureCollection" ) { %>
    <section>
        <h4>Map of file</h4>
        <a class="btn deleteBtn" href="/storms/<%=storm._id%>/delete/cones" onClick="return confirm('Are you absolutely sure you want to remove the cone files?')">Remove Cones</a>
        <%if(storm.json){ %>
            <div id="map" style="height: 500px; width: 100%;"></div>
        <% } %>
    </section>
<% } %>



<script type="text/javascript">var json = '<%- JSON.stringify(storm.json)%>'</script>
<script src="/scripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLEJSKEY %>&callback=initMap"
    async defer></script>
<% include ../partials/footer %>