<% include ../partials/header %>
<header>
    <nav>
        <ul>
            <li><a href="/storms/<%=storm._id%>/add/card">Add Card</a></li>
            <li><a href="#">Add **</a></li>
        </ul>
    </nav>    
</header>
<section>
    <h1><%= storm.name %> <%= storm.category %> <a href="/storms/edit/<%=storm._id%>">Edit</a> <a href="#">Delete</a></h1>
    <table>
    	<tr>
    		<th>Title</th>
    		<th>URL</th>
    		<th>Description</th>
    		<th>Active</th>
    	</tr>
    	<% storm.cards.forEach( function( card ){ %>
    		<tr>
    			<td><%= card.title %></td>
    			<td><%= card.url %></td>
    			<td><%= card.desc %></td>
    			<td><%= card.isActive %></td>
    		</tr>
    	<% }); %>
    </table>
</section>
<% include ../partials/footer %>